<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @assignment.title %>
</p>
<p>
  <strong>Due:</strong>
  <%= @assignment.due.strftime("%B %d at %I:%M %p") %></li>
</p>

<p>
  <strong>Description:</strong>
  <div style="width: 800px; height: 400px; overflow: auto; background-color: #FFFFFF; outline: 2px solid #A05E1D; padding: 5px", class="boxed">
  <%= raw @assignment.description %>
  </div>
</p>
<% if current_user.admin? %>
<%= link_to 'Edit', edit_assignment_path(@assignment) %> | 

<% else %>

<%= link_to 'Back', assignments_path %>

<% end %>