<% if current_user.admin? %>
<h1>Groups</h1>
      <table class="table table-striped">
        <thead>
         <tr>
            <th>Users</th>
            <th>Assigned Group</th>
            <th>Group ID</th>
            <th>Membership ID</th>
            <th>User ID</th>
          <tr>
        
        <% @groups.each do |group| %>
        <tr><th bgcolor="#639CA9"><%= group.name %></th>
          <th bgcolor="#639CA9"></th>
          <th bgcolor="#639CA9"></th>
          <th bgcolor="#639CA9"></th>
          <th bgcolor="#639CA9"></th>
        </tr>
         
        </thead>
        <body>
          <% group.users.each do |user| %>
          <tr>
            <td><%= user.nickname %></td>
            <td><%= user.group.name %></td>
            <td><%= user.group.id %></td>
            <td><%= user.membership.id %></td>
            <td><%= user.id %></td>
             
          </tr>
          <% end %>
        </body>
    <% end %>
<% end %>





<% if !current_user.admin? %>

<h1>Class Blogs </h1>

<table class="table">
    <thead>
        <th>Title</th>
        <th>Blogger</th>
    </thead>
    
    <tbody>
       <% @groups.each do |group| %>
            <%group.users.each do |user| %>
            <% user.posts.each do |post| %>
        <tr>
            <td><b><%= post.title %></td>
            <td><%= post.user_nickname %></td>
        </tr>
        <tr>
            <td colspan="3">
                <div style="height: 200px; overflow: auto; background-color: #FFFFFF; outline: 2px solid #546593; padding: 5px", class="boxed", colspan="3">
                <%=raw post.content %>
                </div>
            </td>
        </tr>
        <tr>
                <% post.comments.each do |comment| %>
                  <td>
                    <div style="height: 50px; overflow: auto; background-color: #FFFFFF; padding: 5px",  colspan="3">
                    <%= comment.body %>
                  </div>
                  </td>
                  <td>
                    <%= comment.commenter %>
                  </td>
              </tr>
           
                  
                <% end %>
            
                <tr>
                  <td>
                <strong>Add a comment:</strong>
              </td>
              </tr>
              <tr>
                <%= form_for([post, post.comments.build]) do |f| %>
                  <td>
                    <div style="height: 50px; overflow: auto; background-color: #FFFFFF;  padding: 5px",  colspan="3">
                    <%= f.hidden_field :commenter, :value => current_user.nickname %> 
                    <%= f.text_area :body, cols:100 %>
                  </div>
                  </td>
                
                    <td>
                    <%= f.submit %>
                  </td>
                  </tr>
                <% end %>



        <% end %>
        <% end %>
        <% end %>
    </tbody>
</table>


<% end %>







