<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Users:</strong>
<% @group.users.each do |user| %>
        <br>
       <% if !RealName.where(user_id: @group.user.id).exists?
      name = @group.user.nickname
    else
      name = @group.user.name
    end %>
        <td><%= name %></td>
      </tr>
    <% end %>


 
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
