<div style="margin-left:5%">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Users:</strong>

  <% @group.users.each do |user| %>
      	<br>
        <td><%= user.nickname %></td>
      </tr>
    <% end %>


 
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
</div>