<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Users:</strong>

  <% @group.users.each do |user| %>
      	<br>
      	 <% if user.real_name.nil?
                    name = user.nickname
                  else
                    name = user.name
                end %>
        <td><%= name %></td>
      </tr>
    <% end %>


 
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
