
<body>
  <h2> Welcome to COSI 133b - Internet & Society </h2>
   <p><b>If you have any questions about or issues with this website, email Ken Harsch at <a href="mailto:kharsch@brandeis.edu"><FONT color=#0000FF>kharsch@brandeis.edu</FONT></a> or stop by my office at Volen 111. </b></p>
<div class="row">
  <div class="col-md-12">
    <div style="margin-left:0%">
      <div class="row">
      <div class="col-md-6">
        <h3>Top Posts </h3>
        <h5>Rated by TAs</h5>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nickname</th>
              <th>Title</th>
              <th colspan="10">Link</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Q</td>
              <td>Remix Editorial (Part 2)</td>
              <td><%= link_to 'Show', '/posts/137' %></td>
            </tr>
            <tr>
              <td>Admin</td>
              <td>The Patronage System</td>
              <td><%= link_to 'Show', '/posts/61' %></td>
            </tr>
            <tr>
              <td>peesa</td>
              <td>The Case for Reforming Copyright</td>
              <td><%= link_to 'Show', '/posts/72' %></td>
            </tr>
            <tr>
              <td>JohnSnow</td>
              <td>Reforming Us</td>
              <td><%= link_to 'Show', '/posts/43' %></td>
            </tr>
            <tr>
              <td>lalala</td>
              <td>Remix editorial draft- part 2</td>
              <td><%= link_to 'Show', '/posts/113' %></td>
            </tr>
            <tr>
              <td>Ravenclaw</td>
              <td>Reforming the Law</td>
              <td><%= link_to 'Show', '/posts/116' %></td>
            </tr>
            <tr>
              <td>Metis</td>
              <td>Remix Editorial: Peer to Peer Sharing</td>
              <td><%= link_to 'Show', '/posts/102' %></td>
            </tr>
             <tr>
              <td>Team Murray</td>
              <td>Wiki</td>
              <td><%= link_to 'Show', '/posts/17' %></td>
            </tr>
            <tr>
              <td>Team Pythagoras</td>
              <td>Wiki</td>
              <td><%= link_to 'Show', '/posts/11' %></td>
            </tr>
            <tr>
              <td>Team Turing</td>
              <td>Wiki</td>
              <td><%= link_to 'Show', '/posts/5' %></td>
            </tr>
              <tr>
              <td>Team Whiting</td>
              <td>Wiki</td>
              <td><%= link_to 'Show', '/posts/18' %></td>
            </tr>
          </tbody>
        </table>

        <h3>Gold Stars</h3>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nickname</th>
              <th>Reason</th>
              <th colspan="10">Link</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>PragmaticBread</td>
              <td>Contribution</td>
            </tr>
            <tr>
              <td>The_Pondering_Pangolin</td>
              <td>Contribution</td>
            </tr>
            <tr>
              <td>Metis</td>
              <td>Writing/editing</td>
            </tr>
            <tr>
              <td>captainamerica</td>
              <td>Contribution</td>
            </tr>
            <tr>
              <td>JohnSnow</td>
              <td>Contribution/writing</td>
            </tr>
            <tr>
              <td>squirrel</td>
              <td>Contribution</td>
            </tr>
            <tr>
              <td>jasminekoalabear</td>
              <td>Contribution</td>
            </tr>
            <tr>
              <td>tigertortoise</td>
              <td>Contribution</td>
            </tr>
            <tr>
              <td>Wolverine</td>
              <td>Contribution</td>
            </tr>
            <tr>
              <td>The General</td>
              <td>Contribution</td>
            </tr>
            <tr>
              <td>Rock Lobstar</td>
              <td>Contribution</td>
            </tr>
            <tr>
              <td>kazman1</td>
              <td>Contribution</td>
            </tr>
            <tr>
              <td>Team Murray</td>
              <td>High quality discussion</td>
              <td><%= link_to 'Show', '/posts/17' %></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-4">
        <h3>Top Readers </h3>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nickname</th>
            </tr>
          </thead>
          <tbody>
            <tr><td>rws</td></tr>
            <tr><td>s</td></tr>
            <tr><td>Batman</td></tr>
            <tr><td>Admin</td></tr>
            <tr><td>CompSciCanine</td></tr>
            <tr><td>Phreakazoid</td></tr>
            <tr><td>Shrek</td></tr>
            <tr><td>random123</td></tr>
            <tr><td>blue</td></tr>
            <tr><td>TheSchnemiesAreComing</td></tr>
            <tr><td>HebrewHammer</td></tr>
            <tr><td>momo</td></tr>
            <tr><td>filmnbiz</td></tr>
            <tr><td>lalala</td></tr>
            <tr><td>MuteBard</td></tr>
            <tr><td>rickrosstheboss</td></tr>
            <tr><td>nickname</td></tr>
            <tr><td>Ravenclaw</td></tr>
            <tr><td>spiffmonkey1</td></tr>
          </tbody>
        </table>
      </div>
    </div>

    
  </div>

</div>
</div>
</div>

<br>
<br>
</body>
