<link href="assets/blog.css" rel="stylesheet">
<body id="bloggy">
<p id="notice"><%= notice %></p>

<p>
  <h2><%= @post.title %></h2>
</p>

<p>
  <%= @post.assignment.title %>
</p>

<p>
  <div style="width: 1068px; height: auto; overflow: auto; background-color: #FFFFFF; outline: 2px solid #A05E1D; padding: 5px", class="boxed">
  <%= raw @post.content %>
  </div>
</p>

<br>
<strong>Comments:</strong>
<br>
<% @post.comments.each do |comment| %>
  <p>
    <div style="width: 800px; height: 50px; overflow: auto; background-color: #FFFFFF; font-size: 12px; outline: 2px solid #A05E1D; padding: 5px", class="boxed">
  <%= raw comment.body %>
  </div>
  </p>
  <p>
    <strong>By:</strong>
    <%= comment.commenter %>
  </p>
  <br>
<% end %>

<strong>Add a comment:</strong>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <p>
    <%= f.hidden_field :commenter, :value => current_user.nickname %> 
    <%= f.text_area :body, cols:100 %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
 
 

<% if current_user == @post.user %>
<%= link_to 'Back', posts_path %> |
<%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>

<%= link_to 'Back to Class Blog', user_groups_path(current_user.group) %>

<br>
<br>
<br>
</body>
